.bar {
  z-index: 999;
  width: 110%;
  background-color: rgb(12, 12, 12);
  border-top: 3px solid grey;
  display: flex;
  align-items: center;
  color: white;
  clear: both;
  position: relative;
  height: 35px;
  margin-top: -80px;
  margin-left: -10px;
}

.bar:hover {
  cursor: default;
}

canvas {
  border: 0px;
  --outline: 0;
  --outline-offset: -1px;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: rgba(183, 99, 203, 0.6);
}

::selection {
  color: black;
  background: rgba(183, 99, 203, 0.6);
}
